@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-tap-highlight-color: transparent;
}


/* range-music-player */
.slider {
  appearance: none;
  -webkit-appearance: none;
  width: 80%;
  height: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background: #fff;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background: #fff;
  cursor: pointer;
}

.range-private {
  appearance: none;
  -webkit-appearance: none;
  height: 4px;
  background: #00aeef;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.range-private::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: #2f80ed;
  cursor: pointer;
}

#time-range::-webkit-slider-thumb {
  appearance: none;
  width: 8px;
  height: 8px;
  background: transparent;
}

.text-stroke-0 {
  -webkit-text-stroke: 1.5px #00aeef;
}

.text-stroke-1 {
  -webkit-text-stroke: 1.5px #FFD700;
}

.text-stroke-2 {
  -webkit-text-stroke: 1.5px #50e3c2;
}

.text-stroke-3 {
  -webkit-text-stroke: 1.5px #e35050;
}

@layer base {
  body {
    @apply font-inter text-black text-16 scrollbar-thin scrollbar-track-[whitesmoke] scrollbar-thumb-secondary;
  }

  .app {
    @apply w-screen;
  }

  .logo {
    @apply relative after:absolute after:left-0 after:-bottom-1 after:w-full after:h-[2px] rounded-sm after:bg-main;
  }

  .effect {
    @apply transition-all ease-in duration-150;
  }

  .text-underline {
    @apply relative before:absolute before:left-0 before:bottom-0 before:w-full before:h-[3px] before:bg-main w-fit;
  }

  .title {
    @apply text-xl lg:text-2xl tracking-widest font-medium select-none mb-4;
  }

  .title-underline {
    @apply text-xl lg:text-2xl tracking-widest font-medium select-none mb-4 relative before:absolute before:left-0 before:bottom-0 before:w-full before:h-[3px] before:bg-main w-fit;
  }

  .button {
    @apply flex justify-center bg-main text-white rounded-sm items-center border-none outline-none cursor-pointer px-[8px] py-[4px] min-w-[105px] max-w-[120px];
  }

  .button-lg {
    @apply flex justify-center bg-main text-white rounded-sm items-center border-none outline-none cursor-pointer px-[8px] py-[4px] min-w-[150px] max-w-[250px];
  }

  .button-none {
    @apply flex justify-center text-primary items-center cursor-pointer rounded-sm px-[8px] py-[4px] min-w-[105px] max-w-[120px] hover:bg-slate-200 effect;
  }

  .button-outline {
    @apply flex justify-center text-primary items-center cursor-pointer rounded-sm border border-primary px-[7px] py-[3px] min-w-[105px] max-w-[120px];
  }

  .button-full {
    @apply w-full bg-secondary py-2 text-white hover:opacity-75 rounded-sm;
  }

  .google-button {
    @apply w-fit px-4 py-2 flex justify-center items-center space-x-2 border border-[#c23321] cursor-pointer rounded-sm mx-auto hover:bg-gray-100 text-primary select-none;
  }

  .icon-btn {
    @apply hover:bg-slate-200 rounded-full effect;
  }

  .icon-player {
    @apply hover:bg-[rgb(0,0,0,0.1)] rounded-full effect p-2 cursor-pointer;
  }

  .sidebar-item {
    @apply flex flex-row gap-4 items-center p-3 cursor-pointer hover:bg-[rgb(0,0,0,0.1)] effect relative border border-[transparent];
  }
  .sidebar-item--active {
    @apply before:absolute before:top-0 before:left-0 before:h-full before:w-[3px] border before:border-t before:border-b before:border-primary before:bg-primary border-secondary ;
  }



  /* when using it, it add relative and group in tag father */
  .toolip-container {
    @apply absolute hidden group-hover:block top-0 left-1/2 -translate-x-1/2 -translate-y-[calc(100%+5px)] bg-gray-600 px-3 py-1 rounded-md text-14 leading-tight text-white min-w-max;
  }
}